@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using EntityLayer.Concrete
@model Teacher

<!DOCTYPE html>
<html>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Admin Paneli</span>
                                <span class="block m-t-xs font-bold">Kulanıcı Adı:@ViewBag.AdminName</span>
                            </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Akademik Danışman İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="active">
                                <a href="@Url.Action("Index","Admin")">Akademik Danışman Ekle </a>
                            </li>
                            <li><a href="@Url.Action("TeacherDelete","Admin")">Akademik Danışman Sil</a></li>
                            <li><a href="@Url.Action("TeacherList","Admin")">Akademik Danışman Listele</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("StudentIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Öğrenci İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("StudentIndex","Admin")">Öğrenci Ekle </a>
                            </li>
                            <li><a href="@Url.Action("StudentDelete","Admin")">Öğrenci Sil</a></li>
                            <li><a href="@Url.Action("StudentList","Admin")">Öğrenci Listele</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Admin İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("AdminIndex","Admin")">Admin Ekle </a>
                            </li>
                            <li><a href="@Url.Action("AdminDelete","Admin")">Admin Sil</a></li>
                            <li><a href="@Url.Action("AdminList","Admin")">Admin Listele</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("CategoryIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Kategori İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("CategoryIndex","Admin")">Kategori Ekle </a>
                            </li>
                            <li><a href="@Url.Action("CategoryDelete","Admin")">Kategori Sil</a></li>
                            <li><a href="@Url.Action("CategoryList","Admin")">Kategori Listele</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @await Html.PartialAsync("~/Views/Shared/Partial/PanelNavbarPartial.cshtml")

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Akademik Danışman Ekleme Formu</h5>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { id = "adminTeacherForm" }))
                            {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Danışman Adı Soyadı : </label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.NameAndSurname,new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.NameAndSurname)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Danışman Bölüm : </label>
                                        <div class="col-sm-10">
                                        @Html.DropDownListFor(x => x.MajorScienceCode, Enum.GetValues(typeof(MajorScienceCode)).Cast<MajorScienceCode>().Select(e => new SelectListItem { Value = ((int)e).ToString(), Text = e.ToString() }), "Seçiniz", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.MajorScienceCode)
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Danışman Kullanıcı Adı : </label>

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.UserName)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Danışman Şifre : </label>

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.Password)
                                    </div>
                                </div>

                                <div class="form-group row btn-kaydet">
                                    <button class="btn btn-lg btn-primary float-right m-t-n-xs"
                                            type="button" onclick="checkStatusAndSubmitForm()">
                                        <strong>Kaydet</strong>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function checkValidity() {
                var nameAndSurname = document.getElementById("NameAndSurname").value;
                var majorScienceCode = document.getElementById("MajorScienceCode").value;
                var userName = document.getElementById("UserName").value;
                var password = document.getElementById("Password").value;

                if (nameAndSurname.trim() === "" || majorScienceCode === "" || userName.trim() === "" || password.trim() === "") {
                    return false;
                }
                return true; 
            }

            function checkStatusAndSubmitForm() {
                var status = checkValidity();
                if (status) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Başarılı!',
                        text: 'Akademik Danışman Başarıyla Eklendi.',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Tamam'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById("adminTeacherForm").submit();
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata!',
                        text: 'Akademik Danışman Eklenemedi.',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'Tamam'
                    });
                }
            }
        </script>
    }

</body>
</html>