@using EntityLayer.Concrete
@model Student
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Admin Paneli</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Akademik Danışman İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index","Admin")">Akademik Danışman Ekle </a>
                            </li>
                            <li><a href="@Url.Action("TeacherDelete","Admin")">Akademik Danışman Sil</a></li>
                            <li><a href="@Url.Action("TeacherList","Admin")">Akademik Danışman Listele</a></li>

                        </ul>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("StudentIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Öğrenci İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="active">
                                <a href="@Url.Action("StudentIndex","Admin")">Öğrenci Ekle </a>
                            </li>
                            <li><a href="@Url.Action("StudentDelete")">Öğrenci Sil</a></li>
                            <li><a href="@Url.Action("StudentList")">Öğrenci Listele</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Admin İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("AdminIndex","Admin")">Admin Ekle </a>
                            </li>
                            <li><a href="@Url.Action("AdminDelete","Admin")">Admin Sil</a></li>
                            <li><a href="@Url.Action("AdminList","Admin")">Admin Listele</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("CategoryIndex","Admin")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Kategori İşlemleri</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("CategoryIndex","Admin")">Kategori Ekle </a>
                            </li>
                            <li><a href="@Url.Action("CategoryDelete","Admin")">Kategori Sil</a></li>
                            <li><a href="@Url.Action("CategoryList","Admin")">Kategori Listele</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top"
                     role="navigation"
                     style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                           href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li style="padding: 20px">
                            <span class="m-r-sm text-muted welcome-message">ISUBÜ TEKNOLOJİ FAKÜLTESİ BİTİRME PROJELERİ TANITIM </span>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Home")">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Öğrenci Ekleme Formu</h5>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("StudentIndex", "Admin", FormMethod.Post)){
                            
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Öğrenci Adı Soyadı : </label>

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.NameAndSurname,new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.NameAndSurname)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Öğrenci Bölüm : </label>

                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => x.DepartmentCode, Enum.GetValues(typeof(DepartmentCode)).Cast<DepartmentCode>().Select(e => new SelectListItem { Value = ((int)e).ToString(), Text = e.ToString() }), "Seçiniz", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DepartmentCode)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Öğrenci Kullanıcı Adı : </label>

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.UserName,new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.UserName)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Öğrenci Şifre : </label>

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x=>x.Password,new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x=>x.Password)
                                    </div>
                                </div>

                                <div class="form-group row btn-kaydet">
                                    <button class="btn btn-lg btn-primary float-right m-t-n-xs"
                                            type="submit">
                                        <strong>Kaydet</strong>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
