@using EntityLayer.Concrete
@model Project
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Öğrenci Paneli</span>
                                <span class="block m-t-xs font-bold">Kullanıcı Adı:@ViewBag.UserName</span>
                            </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Student")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Panel</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index","Student")">Proje Ekleme</a>
                            </li>
                            <li><a href="@Url.Action("ProjectUpdate","Student")">Proje Güncelleme</a></li>
                            <li class="active"><a href="@Url.Action("ProjectStatus","Student")">Proje Durumu</a></li>
                            <li><a href="@Url.Action("Information","Student")">Bilgi Ekleme</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @await Html.PartialAsync("~/Views/Shared/Partial/PanelNavbarPartial.cshtml")

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Proje Durum Sayfası</h5>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox ">


                                <div class="ibox-content">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Proje Adı</th>
                                                <th>Yükleme Tarihi</th>
                                                <th>Konu</th>
                                                <th>Açıklama</th>
                                                <th>Yayınlanma Durumu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                <tr>
                                                    <td>@Model.ProjectID</td>
                                                    <td>@Model.Name</td>
                                                    <td>@Model.CreationTime</td>
                                                    <td>@Model.Subject</td>
                                                    <td>@Model.Description</td>
                                                    <td>
                                                        @if (Model.Status == true)
                                                        {
                                                            <span>Yayınlandı</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Yayınlanmadı</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6">Proje bulunamadı.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
