@using Fakultemiz_bitirme_projeleri_tanitim.Models.TeacherV;
@model TeacherIndexViewModel
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Akademik Danışman Paneli</span>
                                <span class="text-muted text-xs block">Kullanıcı Adı:@ViewBag.TeacherName</span>
                            </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Teacher")">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Panel</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="active">
                                <a href="@Url.Action("Index","Teacher")">Proje Yayınlama </a>
                            </li>
                            <li><a href="@Url.Action("ProjectStatus","Teacher")">Proje Görüntüleme</a></li>
                            <li><a href="@Url.Action("ProjectDelete","Teacher")">Proje Silme</a></li>
                            <li><a href="@Url.Action("StudentInformation","Teacher")">Öğrenci Bilgileri</a></li>


                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @await Html.PartialAsync("~/Views/Shared/Partial/PanelNavbarPartial.cshtml")

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Proje Yayınlama Formu</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Proje Adı</th>
                                            <th>Proje Sahibinin Adı</th>
                                            <th>Bölümü</th>
                                            <th>Yükleme Tarihi</th>
                                            <th>Konusu</th>
                                            <th>Özeti</th>
                                            <th>Resim 1</th>
                                            <th>Resim 2</th>
                                            <th>Resim 3</th>
                                            <th>Resim 4</th>
                                            <th>Yayınlansın mı</th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        @{
                                            int count = 1;
                                            bool anyProjectsRemaining = false;
                                        }
                                        @foreach (var projectWithStudentInfo in Model.Projeler)
                                        {
                                            if (!projectWithStudentInfo.Status)
                                            {
                                                anyProjectsRemaining = true;
                                                <tr class="gradeX">
                                                    <td>@count</td>
                                                    <td>@projectWithStudentInfo.Name</td>
                                                    <td>@projectWithStudentInfo.Student.NameAndSurname </td>
                                                    <td>@projectWithStudentInfo.Student.DepartmentCode</td>
                                                    <td>@projectWithStudentInfo.CreationTime</td>
                                                    <td>@projectWithStudentInfo.Subject</td>
                                                    <td>@projectWithStudentInfo.Description</td>
                                                    <td>
                                                        @{
                                                            if (projectWithStudentInfo.Image1 != null && projectWithStudentInfo.Image1.Length > 0)
                                                            {
                                                                byte[] imageBytes = projectWithStudentInfo.Image1;
                                                                string base64String = Convert.ToBase64String(imageBytes);
                                                                string imgSrc = string.Format("data:image/jpeg;base64,{0}", base64String);
                                                                <img src="@imgSrc" alt="Image1" width="150" height="150" />
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (projectWithStudentInfo.Image2 != null && projectWithStudentInfo.Image2.Length > 0)
                                                            {
                                                                byte[] imageBytes2 = projectWithStudentInfo.Image2;
                                                                string base64String2 = Convert.ToBase64String(imageBytes2);
                                                                string imgSrc2 = string.Format("data:image/jpeg;base64,{0}", base64String2);
                                                                <img src="@imgSrc2" alt="Image2" width="150" height="150" />
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (projectWithStudentInfo.Image3 != null && projectWithStudentInfo.Image3.Length > 0)
                                                            {
                                                                byte[] imageBytes3 = projectWithStudentInfo.Image3;
                                                                string base64String3 = Convert.ToBase64String(imageBytes3);
                                                                string imgSrc3 = string.Format("data:image/jpeg;base64,{0}", base64String3);
                                                                <img src="@imgSrc3" alt="Image3" width="150" height="150" />
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (projectWithStudentInfo.Image4 != null && projectWithStudentInfo.Image4.Length > 0)
                                                            {
                                                                byte[] imageBytes4 = projectWithStudentInfo.Image4;
                                                                string base64String4 = Convert.ToBase64String(imageBytes4);
                                                                string imgSrc4 = string.Format("data:image/jpeg;base64,{0}", base64String4);
                                                                <img src="@imgSrc4" alt="Image4" width="150" height="150" />
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <form action="@Url.Action("Index", "Teacher")" method="post">
                                                            <input type="hidden" name="id" value="@projectWithStudentInfo.ProjectID" />
                                                            <button type="submit" class="btn btn-danger">Yayınla</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        }
                                        @if (!anyProjectsRemaining)
                                        {
                                            <tr>
                                                <td colspan="11">Bütün projeler yayınlandı.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
